html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*-----------------------------------*/

:root {
  --primary-color: #393939;
  --secondary-color: #999999;
  --accent-color: #ffbf00;
  --header-font: 'Poppins', sans-serif;
  --text-font: 'Roboto', sans-serif;
}

body {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--text-font);
}

a {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-decoration: none;
}

h3 {
  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  color: var(--primary-color);
  font-family: var(--header-font);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}

.menu a:hover {
  color: white;
  background-color: var(--primary-color);
}

.home {
  margin: 4rem 0.5rem;
}

.home h1 {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 55px;
  margin: 1rem 0;
}

.home span {
  color: var(--accent-color);
}

.home h2 {
  font-weight: 400;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 18px;
}

.about {
  margin-bottom: 2rem;
}

.about a {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: 500;
}

.about a:hover {
  background-color: var(--primary-color);
  color: white;
}

.about p {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f1f7;
  padding: 2rem 4rem;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  margin: 1rem;
}

.project h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.project img {
  max-width: 8rem;
  order: 2;
}

.project a {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid var(--secondary-color);
}

.contact-form input {
  height: 2rem;
}

.contact-form label {
  margin-bottom: 0.5rem;
}

.contact-form .submit {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 16px;
}

.contact-form .submit:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
}

.social-media {
  margin-top: 3rem;
}

.social-media a {
  color: var(--accent-color);
}

.social-media a:hover {
  color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  color: #999999;
  padding: 0.5rem 0;
}
